name: Release

permissions:
  contents: read
  id-token: write

on:
  push:
    tags: v*

jobs:
  release:
    name: Release workflow

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "latest"
          registry-url: "https://registry.npmjs.org/"

      - name: Install
        run: npm ci

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production

      - name: Test
        run: npm test

      - name: Publish latest
        if: "!contains(github.ref, '-')"
        run: npm publish --tag latest --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

      - name: Publish next
        if: contains(github.ref, '-')
        run: npm publish --tag next --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

      - name: Remove next tag
        if: "!contains(github.ref, '-')"
        run: npm dist-tag rm nebula next || true
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
